USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[DiemHocPhan]    Script Date: 7/3/2023 10:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemHocPhan](
	[MaLopHP] [nvarchar](24) NOT NULL,
	[MaSV] [int] NOT NULL,
	[DiemThiQT] [float] NULL,
	[DiemThiKT] [float] NULL,
	[DiemTK] [float] NULL,
	[XepLoaiHocLuc] [nvarchar](24) NULL,
 CONSTRAINT [PK_QLDiem] PRIMARY KEY CLUSTERED 
(
	[MaLopHP] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 7/3/2023 10:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGV] [int] IDENTITY(1,1) NOT NULL,
	[TenGV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[Email] [nvarchar](50) NULL,
	[SoDT] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Username] [nvarchar](24) NULL,
	[MaNganh] [nvarchar](24) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 7/3/2023 10:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [nvarchar](24) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[Khoa] [nvarchar](10) NULL,
	[MaNganh] [nvarchar](24) NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 7/3/2023 10:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLopHP] [nvarchar](24) NOT NULL,
	[MaGV] [int] NULL,
	[MaMH] [nvarchar](24) NULL,
	[MaLop] [nvarchar](24) NULL,
 CONSTRAINT [PK_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[MaLopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 7/3/2023 10:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [nvarchar](24) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
	[SoTC] [int] NULL,
	[HocKy] [int] NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NganhHoc]    Script Date: 7/3/2023 10:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NganhHoc](
	[MaNganh] [nvarchar](24) NOT NULL,
	[TenNganh] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhoaHoc] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NienKhoa]    Script Date: 7/3/2023 10:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NienKhoa](
	[Khoa] [nvarchar](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
	[NamNK] [nvarchar](24) NULL,
 CONSTRAINT [PK_NienKhoa] PRIMARY KEY CLUSTERED 
(
	[Khoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 7/3/2023 10:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[Email] [nvarchar](50) NULL,
	[SoDT] [nvarchar](12) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[MaLop] [nvarchar](24) NULL,
	[Username] [nvarchar](24) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/3/2023 10:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](24) NOT NULL,
	[Pass] [nvarchar](24) NULL,
	[Quyen] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DiemHocPhan] ([MaLopHP], [MaSV], [DiemThiQT], [DiemThiKT], [DiemTK], [XepLoaiHocLuc]) VALUES (N'010100015701', 1, 9, 9, 9, NULL)
INSERT [dbo].[DiemHocPhan] ([MaLopHP], [MaSV], [DiemThiQT], [DiemThiKT], [DiemTK], [XepLoaiHocLuc]) VALUES (N'010100015701', 2, 8, 8, 8, NULL)
INSERT [dbo].[DiemHocPhan] ([MaLopHP], [MaSV], [DiemThiQT], [DiemThiKT], [DiemTK], [XepLoaiHocLuc]) VALUES (N'010100015701', 3, 9, 8, 8.4, NULL)
GO
SET IDENTITY_INSERT [dbo].[GiaoVien] ON 

INSERT [dbo].[GiaoVien] ([MaGV], [TenGV], [NgaySinh], [GioiTinh], [Email], [SoDT], [DiaChi], [Username], [MaNganh]) VALUES (1, N'Phạm Thị Thư', CAST(N'1985-12-12' AS Date), 0, N'ptt@gmail.com', N'0985014385', N'Nam Định', N'gv01', N'TLH')
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV], [NgaySinh], [GioiTinh], [Email], [SoDT], [DiaChi], [Username], [MaNganh]) VALUES (2, N'Hà Diệu Hằng ', CAST(N'1985-12-12' AS Date), 0, N'hdh@gmail.com', N'0975903779', N'Hà Nam', N'gv02', N'TLH')
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV], [NgaySinh], [GioiTinh], [Email], [SoDT], [DiaChi], [Username], [MaNganh]) VALUES (3, N'Vũ Đại Đồng', CAST(N'1985-12-12' AS Date), 1, N'vdd@gmail.com', N'0975903779', N'Hà Nội', N'gv03', N'QTKD')
SET IDENTITY_INSERT [dbo].[GiaoVien] OFF
GO
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [Khoa], [MaNganh]) VALUES (N'CNTT13A1', N'Công nghệ thông tin 13A1', N'K13', N'CNTT')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [Khoa], [MaNganh]) VALUES (N'CNTT13A2', N'Công nghệ thông tin 13A2', N'K13', N'CNTT')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [Khoa], [MaNganh]) VALUES (N'CNTT13A3', N'Công nghệ thông tin 13A3', N'K13', N'CNTT')
GO
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaGV], [MaMH], [MaLop]) VALUES (N'010100015701', 17, N'MH17', N'CNTT13A5')
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaGV], [MaMH], [MaLop]) VALUES (N'010100015902', 36, N'MH39', N'CNTT13A5')
INSERT [dbo].[LopHocPhan] ([MaLopHP], [MaGV], [MaMH], [MaLop]) VALUES (N'010100015903', 36, N'MH39', N'CNTT13A1')
GO
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTC], [HocKy]) VALUES (N'MH01', N'Logic học', 2, 1)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTC], [HocKy]) VALUES (N'MH02', N'Pháp luật đại cương', 2, 1)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTC], [HocKy]) VALUES (N'MH03', N'Quản trị học', 2, 1)
GO
INSERT [dbo].[NganhHoc] ([MaNganh], [TenNganh]) VALUES (N'BH', N'Bảo hiểm')
INSERT [dbo].[NganhHoc] ([MaNganh], [TenNganh]) VALUES (N'CNDM', N'Công nghệ dệt may')
INSERT [dbo].[NganhHoc] ([MaNganh], [TenNganh]) VALUES (N'CNKTCK', N'Công nghệ kĩ thuật-Cơ khí')
GO
INSERT [dbo].[NienKhoa] ([Khoa], [TenKhoa], [NamNK]) VALUES (N'K13', N'Khóa 13', N'2019-2023')
INSERT [dbo].[NienKhoa] ([Khoa], [TenKhoa], [NamNK]) VALUES (N'K14', N'Khóa 14', N'2020-2024')
INSERT [dbo].[NienKhoa] ([Khoa], [TenKhoa], [NamNK]) VALUES (N'K15', N'Khóa 15', N'2021-2025')
GO
SET IDENTITY_INSERT [dbo].[SinhVien] ON 

INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [Email], [SoDT], [DiaChi], [MaLop], [Username]) VALUES (1, N'Đỗ Thị Thuỳ Nhương
', CAST(N'2001-12-10' AS Date), 0, N'dttn@gmail.com', N'0523590117', N'Hà Nội', N'CNTT13A5', N'sv01')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [Email], [SoDT], [DiaChi], [MaLop], [Username]) VALUES (2, N'Nguyễn Bá Phú ', CAST(N'2001-05-05' AS Date), 1, N'nbp@gmail.com', N'035276522', N'Phú Thọ', N'CNTT13A5', N'sv02')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [Email], [SoDT], [DiaChi], [MaLop], [Username]) VALUES (3, N'Nguyễn Thị Phương
', CAST(N'2001-09-09' AS Date), 0, N'ntp@gmail.com', N'0976522133', N'Ninh Bình ', N'CNTT13A5', N'sv03')
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
GO
INSERT [dbo].[Users] ([Username], [Pass], [Quyen]) VALUES (N'admin', N'3333', N'3')
INSERT [dbo].[Users] ([Username], [Pass], [Quyen]) VALUES (N'gv01', N'1111', N'1')
INSERT [dbo].[Users] ([Username], [Pass], [Quyen]) VALUES (N'gv02', N'1111', N'1')
GO
ALTER TABLE [dbo].[DiemHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_QLDiem_SinhVien1] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DiemHocPhan] CHECK CONSTRAINT [FK_QLDiem_SinhVien1]
GO
ALTER TABLE [dbo].[DiemHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_QLDiemHocPhan_LopHocPhan] FOREIGN KEY([MaLopHP])
REFERENCES [dbo].[LopHocPhan] ([MaLopHP])
GO
ALTER TABLE [dbo].[DiemHocPhan] CHECK CONSTRAINT [FK_QLDiemHocPhan_LopHocPhan]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_NganhHoc] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[NganhHoc] ([MaNganh])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_NganhHoc]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_User] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_User]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_NganhHoc] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[NganhHoc] ([MaNganh])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_NganhHoc]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_NienKhoa] FOREIGN KEY([Khoa])
REFERENCES [dbo].[NienKhoa] ([Khoa])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_NienKhoa]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_GiaoVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_GiaoVien]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_LopHoc1] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_LopHoc1]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_MonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_MonHoc]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopHoc] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_LopHoc]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Users] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Users]
GO
/****** Object:  StoredProcedure [dbo].[BangDiem]    Script Date: 7/3/2023 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE[dbo].[BangDiem]
@TenLop nvarchar(50),
@TenSV nvarchar(50),
@NamNK nvarchar(24),
@TenNganh nvarchar(50),
@NgaySinh date
as
begin
Select c.MaLopHP,d.TenMH, a.DiemTK , d.SoTC, d.HocKy 
from DiemHocPhan a, SinhVien b, LopHocPhan c ,MonHoc d,LopHoc e,NganhHoc f, NienKhoa g 
where a.MaSV = b.MaSV and a.MaLopHP=c.MaLopHP and c.MaMH=d.MaMH and g.Khoa=e.Khoa and e.MaNganh=f.MaNganh
and TenLop= @TenLop and TenSV=@TenSV and NamNK=@NamNK and NgaySinh=@NgaySinh and TenNganh=@TenNganh
END

GO
/****** Object:  StoredProcedure [dbo].[TTSVTheoLop]    Script Date: 7/3/2023 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE[dbo].[TTSVTheoLop]
@TenNganh nvarchar(50),
@TenLop nvarchar(50)
as
begin
Select a.MaSV,a.TenSV, a.GioiTinh,a.Email,a.NgaySinh,a.SoDT,b.TenLop,c.TenNganh
from SinhVien a ,LopHoc b,NganhHoc c
where a.MaLop = b.MaLop and b.MaNganh=c.MaNganh 
and TenLop= @TenLop and TenNganh=@TenNganh
END

GO
/****** Object:  StoredProcedure [dbo].[Update_Pass]    Script Date: 7/3/2023 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_Pass] 
	-- Add the parameters for the stored procedure here
@Username nvarchar(50),
@OldPass nvarchar(50),
@NewPass nvarchar(50)
as
begin
    if exists (select * from Users where Username = @Username and Pass = @OldPass)
    begin
        update Users set Pass = @NewPass where Username = @Username
        select 1 as code, N'Thay doi mat khau thanh cong !!' as MSG
    end
    else
        select 0 as code, N'Tai khoan hoac mat khau sai !!' as MSG
end

GO
/****** Object:  StoredProcedure [dbo].[User_login]    Script Date: 7/3/2023 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[User_login] 
	-- Add the parameters for the stored procedure here
@Username nvarchar(50),
@Pass nvarchar(24)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if exists (select * from Users where Username = @Username and Pass = @Pass and Quyen = 1)
        select 1 as code
	if exists (select * from Users where Username = @Username and Pass = @Pass and Quyen = 2)
        select 2 as code
	if exists (select * from Users where Username = @Username and Pass = @Pass and Quyen = 3)
        select 3 as code
	else if exists(select * from Users where Username = @Username and Pass != @Pass) 
	    select 4 as code
END

GO
